@{
    ViewData["Title"] = "DetalleProducto";
}
<h1>Información del producto:</h1>

<section class="page-contain">
  <div class="data-card">
    <h3><img class='product-image' src='@ViewBag.Producto.foto' alt=""></h3>
    <h4 class="card-title"><strong>@ViewBag.Producto.nombre</strong></h4>
    <h4 class="card-text"><strong>Caracteristicas:</strong></h4>
    <h6 class="card-text"> <strong>Descripcion:</strong> @ViewBag.Producto.descripcion </h6>
     <h6 class="card-text"> <strong>marca:</strong> @ViewBag.Producto.marca </h6>
     <h6 class="card-text"> <strong>precio</strong> @ViewBag.Producto.precio </h6>
    <a href='@Url.Action("carrito","Home")'>
    <span class="link-text">
      COMPRAR
    </span>
  </a>
  </div>
</section>
                                        

