@{
    ViewData["Title"] = "Vip Papelera";
}

        

<div class="text-center">
    <h1 class="display-4">Bienvenido a Vip Papelera</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="center">
            <div class="img">
              <img src="img/carousel4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
     </div>
    <div class="carousel-item">
        <div class="center">
           <div class="img">
              <img src="img/carousel5.png" class="d-block w-100" alt="...">
           </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="center">
            <div class="img">
              <img src="img/carousel6.png" class="d-block w-100" alt="...">
          </div>
      </div>
   </div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<div class="text-center">
    <h3><b>Productos Destacados</b></h3>
</div>

    <div style ="margin-top: 0.3vh;">
						&nbsp;
		</div>

         <div class="row">
        @{
                  foreach(Producto productos in @ViewBag.producto){
                    <div class="col-12 col-md-4">
                      
                    <div class="card">
                    <div class="center">
                      <img class="product-image" src="@productos.foto" alt="@productos.foto">
                      </div>
                      <div class="card-body">
                        <h5> <div class="data">Nombre:</div> &ensp; @productos.nombre</h5>
                        <h5><div class="data">Precio:</div> &ensp; $@productos.precio </h5>
                          <div class="button">
                              <a href='@Url.Action("detalleProductos","Home", new{idProducto = productos.idProducto, nombre = productos.nombre, descripcion = productos.descripcion})' class="btn mt-6" id="btn"><span>MÁS INFORMACIÓN</span></a>
                              <a href='@Url.Action("carrito","Home", new{idProducto = productos.idProducto, nombre = productos.nombre, precio = productos.precio})' class="btn mt-6" id="btnbuy"><span>COMPRAR</span></a>
                          </div>
                        

                        </div>
                    </div>
                    </div>
                    
                  }   
        }               
      </div>


