 @{
    ViewData["Title"] = "Vip Papelera";
}

 @{
                  foreach(Producto productos in @ViewBag.producto){
                    <div class="col-12 col-md-4">
                      
                    <div class="card">
                    <div class="center">
                      <img class="product-image" src="@productos.foto" alt="@productos.foto">
                      </div>
                      <div class="card-body">
                        <h5> <div class="data">@productos.nombre</div> </h5>
                        <h5><div class="data">$@productos.precio</div> </h5>
                          <div class="button">
                              <a href='@Url.Action("detalleProductos","Home", new{idProducto = productos.idProducto, nombre = productos.nombre, descripcion = productos.descripcion , idCategoria = productos.idCategoria})' class="btn mt-6" id="btn"><span>MÁS INFORMACIÓN</span></a>
                              <a href='@Url.Action("AgregarProducto","Home", new{idProducto = productos.idProducto, nombre = productos.nombre, descripcion = productos.descripcion, foto= productos.foto, marca= productos.marca, precio = productos.precio, stock=productos.stock, destacado =productos.destacado ,cantidad = productos.cantidad, idCategoria = productos.idCategoria})' class="btn mt-6" id="btn-buy"><span>COMPRAR</span></a>
                          </div>
                        

                        </div>
                    </div>
                    </div>
                    
                  }   
        }               